In [40]:
import pandas as pd
import googlemaps

In [105]:
df = pd.read_excel('hospitals.xlsx',sheet_name='Sheet1')
df.head(2)

                Hospitals   Latitude  Longitude
0           Ford Hospital  25.274091  83.010007
1  Sir Sunderlal Hospital  25.276726  82.999643

In [38]:
Clat = 25.263146
Clong =82.991850
origin =(Clat,Clong)

In [37]:
API_key ='AIzaSyBsf1w4nr1LhgVDrad_DCl7AYnCVRiJbLI'
gmaps = googlemaps.Client(key=API_key)

In [100]:
b=[]
for index, row in df.iterrows():
    destination=(row['Latitude'],row['Longitude'])
    result = gmaps.distance_matrix(origin, destination)["rows"][0]["elements"][0]
    if(result["status"]=="OK"):
        a=int(result["duration"]["value"])
        b.append(a)
    else:
        b.append(100000000000000000000000000000)
print(b)

[638, 416, 13335, 14891, 848, 1011, 100000000000000000000000000000, 850, 714, 644, 479, 756, 838, 843, 837, 927, 931, 580, 215]

In [112]:
import numpy as np
k = np.array(b)

k = pd.DataFrame(k)
df['duration'] = k

                Hospitals   Latitude  Longitude duration
0           Ford Hospital  25.274091  83.010007      638
1  Sir Sunderlal Hospital  25.276726  82.999643      416

In [117]:
df.loc[df['duration']==min(df['duration'])]['Hospitals']

18    Shivganga Hospital
Name: Hospitals, dtype: object

In [113]:
min(df['duration'])

215